#main-panel {
    width: 100%;
}
#pipelines {
    width: 90%;
}
td.revision-cell {
    max-width: 440px;
    overflow: hidden;
}
tbody.pipelineGroup {
    background-color: #fff;
    border: solid 1px #ccc;
}
#build-pipeline-plugin-content {
    background-color: transparent;
}
.build-card.rounded {
    box-shadow: 1px 1px 1px #ccc;
}
.rounded {
    -webkit-border-radius: 0;
    border-radius: 0!important;
    -webkit-box-shadow: 0;
    border-collapse: collapse;
    border: solid 1px #bbb;
}
.header div {
    border-radius: 0!important;
}
.header {
    padding: 0!important;
}
td.next {
    vertical-align: middle;
}
.build-pipeline > td {
    padding: 4px;
}
